asgiref==3.11.0
black==25.11.0
certifi==2026.1.4
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.1.8
distlib==0.4.0
Django==4.2.27
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
flake8==7.3.0
flake8-django==1.1.1
identify==2.6.15
idna==3.11
importlib_metadata==8.7.1
isort==6.1.0
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.4.0
pre_commit==4.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.11.0
pytokens==0.4.0
PyYAML==6.0.3
requests==2.32.5
sqlparse==0.5.5
tomli==2.4.0
typing_extensions==4.15.0
urllib3==2.6.3
virtualenv==20.36.1
zipp==3.23.0
